* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$exPrefix: 'ex';

.#{$exPrefix}-router-cards-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 420px;
  transform: translateX(-50%) translateY(-50%);
}

.#{$exPrefix}-router-cards {
  position: relative;
  perspective: 2120px;
  transform-style: preserve-3d;
}

.#{$exPrefix}-router-card {
  position: absolute;
  left: 50%;
  width: 320px;
  height: 162px;
  transform: translateX(-50%);
  transition: transform 0.36s ease-in-out;
}


@mixin cards($prefix, $n, $y, $z) {
  @for $i from 0 to $n {
    .#{$prefix}-router-card-#{$i} {
      // transform: translateX(-50%) translateY($i * $y) translateZ(($i + 1) * 300px - $n * 300px);
      transform: translateX(-50%) translateY($i * $y) translateZ(($i + 1) * $z - $n * $z);
      z-index: $i + 1;
    }
  }

  .#{$prefix}-router-card-leave {
    // transform: translateX(-50%) translateY($n * $y) translateZ(0);
    z-index: $n + 1;
    animation-duration: .36s;
    animation-fill-mode: both;
    animation-play-state: paused;
    // animation-timing-function: cubic-bezier(.6,.04,.98,.34);
  }
  .#{$prefix}-router-card-leave.#{$prefix}-router-card-leave-active {
    animation-name: MoveDownLeave;
    animation-play-state: running;
    pointer-events: none
  }

  @keyframes MoveDownLeave {
    0% {
      // transform-origin: 0 0;
      transform: translateX(-50%) translateY(($n - 1) * $y) translateZ(0);
      opacity: 1
    }
    50% {
      // transform-origin: 0 0;
      transform: translateX(-50%) translateY(($n - 1) * $y) translateZ(0px) scale(0.2);
      opacity: 0
    }
    51% {
      transform: translateX(-50%) translateY(-$y) translateZ((0 - $n) * $z);
      opacity: 0
    }
    52% {
      transform: translateX(-50%) translateY(-$y) translateZ((0 - $n) * $z);
      opacity: 1
    }
    100% {
      transform: translateX(-50%) translateY(0) translateZ((1 - $n) * $z);
      opacity: 1
    }
  }
}

@include cards($exPrefix, 7, 40px, 300px);

.ex-iframe {
  border: none!important;
  display: block!important;
  position: fixed!important;
  height: 100%!important;
  width: 100%!important;
  top: 0!important;
  right: 0!important;
  bottom: 0!important;
  left: 0!important;
  margin: 0!important;
  clip: auto!important;
  opacity: 1!important;
  z-index: 9223372036854775807;
  background: rgba(0, 0, 0, 0.7);
}
